body {
	/*border: 2px solid red;*/
	height: 100vh;
	/*background-image: url(./img/village.jpg);*/
	background-color: bisque;
}

.App {
	text-align: center;
}

.container {
	/*border: 2px solid rgb(13, 0, 255);*/

	display: flex;
	justify-content: center;
	align-items: center;
}
.wolf {
	position: relative;
}

.wolf img {
	position: relative;
	height: 400px;
	z-index: -10;
	transition: 0.8s;
}
.circleBtn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: red;
	cursor: pointer;
	margin: 50px;
}

.circleBtn:active {
	transform: scale(1.2);
}

.UpRightWolf {
	transform: rotateY(180deg) rotateZ(45deg);
}
.DownRightWolf {
	transform: rotateY(180deg) rotateZ(-45deg);
}
.UpLeftWolf {
	transform: rotateZ(45deg);
}
.DownLeftWolf {
	transform: rotateZ(-45deg);
}

.chiken {
	width: 120px;
}
.chikenPlace {
	display: flex;
	flex-direction: column;
	height: 504px;
	justify-content: space-between;
	margin: 0 auto;
}

.eggPlace img {
	position: absolute;
	top: 150px;
	left: 310px;
	width: 40px;
	z-index: -2;
	animation: changePositionUpLeftEgg 3s linear;
}

@keyframes changePositionUpLeftEgg {
	0% {
		top: 150px;
		left: 310px;
		transform: rotateZ(0deg);
	}
	20% {
		top: 180px;
		left: 350px;
		transform: rotateZ(90deg);
	}

	40% {
		top: 200px;
		left: 400px;
		transform: rotateZ(180deg);
	}

	60% {
		top: 220px;
		left: 550px;
		transform: rotateZ(270deg);
	}
	100% {
		top: 220px;
		left: 840px;
		transform: rotateZ(360deg);
	}
}

.wolfRegBox {
	width: 40px;
	height: 40px;
	border: 2px solid red;
	position: absolute;
	transition: 0.8s;
}

.leftTopReg {
	top: 84px;
	left: 70px;
}

.leftBotReg {
	top: 250px;
	left: 45px;
}

.rightTopReg {
	top: 84px;
	left: 210px;
}

.rightBotReg {
	top: 250px;
	left: 235px;
}
