body {
	border: 2px solid red;
	height: 100vh;
}

.App {
	text-align: center;
}

.container {
	border: 2px solid rgb(13, 0, 255);

	display: flex;
	justify-content: center;
	align-items: center;
}

.wolf img {
	position: relative;
	height: 500px;
	z-index: -10;
}
.circleBtn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: red;
	cursor: pointer;
	margin: 50px;
}

.circleBtn:active {
	transform: scale(1.2);
}

.UpRightWolf {
	transform: rotateY(180deg) rotateZ(45deg);
}
.DownRightWolf {
	transform: rotateY(180deg) rotateZ(-45deg);
}
.UpLeftWolf {
	transform: rotateZ(45deg);
}
.DownLeftWolf {
	transform: rotateZ(-45deg);
}

.chiken {
	width: 150px;
	display: block;
	margin: 105px;
}
